.image11Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 480px;
  height: 363px;
  object-fit: cover;
}
.rectangleIcon {
  position: absolute;
  height: 61.85%;
  width: 78.13%;
  top: 38.15%;
  right: 17.08%;
  bottom: 0;
  left: 4.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.background,
.horaDelDescanso {
  position: absolute;
  top: -87px;
  left: -23px;
  width: 480px;
  height: 899px;
}
.horaDelDescanso {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
}
.text {
  position: absolute;
  height: 6.65%;
  width: 75.73%;
  top: 35.47%;
  right: 12%;
  bottom: 57.88%;
  left: 12.27%;
}
.circleLeftIcon {
  position: absolute;
  top: 56px;
  left: 24px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.rectangle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--dark-2);
}
.title {
  position: absolute;
  height: 38.46%;
  width: 80.49%;
  top: 17.09%;
  left: 13.01%;
  line-height: 18px;
  font-weight: 600;
  display: inline-block;
}
.downIcon {
  position: absolute;
  top: 26px;
  right: 16px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  display: none;
}
.title1 {
  position: absolute;
  height: 17.95%;
  width: 61.79%;
  top: 64.1%;
  left: 19.51%;
  font-size: var(--font-size-base);
  line-height: 16px;
  color: var(--primary);
  display: inline-block;
}
.smallCard {
  position: absolute;
  top: 347px;
  left: 50px;
  width: 123px;
  height: 117px;
  font-size: var(--h5-semibold-size);
}
.homeIcon {
  position: absolute;
  top: 21px;
  left: 334px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.postmarip {
  width: 100%;
  position: relative;
  background-color: var(--dark-1);
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--soft);
  font-family: var(--footnote-medium);
}
