.button {
  position: absolute;
  height: 6.16%;
  width: 70.13%;
  top: 87.68%;
  right: 14.93%;
  bottom: 6.16%;
  left: 14.93%;
  cursor: pointer;
}
.name,
.subtitle {
  position: absolute;
  top: 3px;
  left: 0;
  line-height: 13px;
}
.name {
  top: 0;
  left: 80.73%;
  font-size: var(--body-regular-size);
  line-height: 18px;
  font-weight: 600;
  text-align: right;
}
.cost {
  top: 349px;
  left: 24px;
  width: 327px;
  height: 18px;
}
.cost,
.cost1,
.name1 {
  position: absolute;
}
.name1 {
  top: 0;
  left: 86.85%;
  font-size: var(--body-regular-size);
  line-height: 18px;
  font-weight: 600;
  text-align: right;
}
.cost1 {
  top: 327px;
  left: 24px;
  width: 327px;
  height: 18px;
}
.estadoMembresia {
  position: absolute;
  top: 40px;
  left: 46px;
  font-size: var(--h1-semibold-size);
  line-height: 30px;
  font-family: var(--font-rajdhani);
}
.payment {
  width: 100%;
  position: relative;
  background-color: var(--dark-1);
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--caption-bold-size);
  color: var(--soft);
  font-family: var(--footnote-medium);
}
