.rectangleIcon,
.rectangleIcon1,
.rectangleIcon2 {
  position: absolute;
  height: 0.28%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 99.72%;
  left: 0;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangleIcon1,
.rectangleIcon2 {
  top: 85.89%;
  bottom: 13.83%;
}
.rectangleIcon2 {
  top: 100%;
  bottom: -0.28%;
}
.options {
  position: absolute;
  top: 343px;
  left: 32px;
  width: 311px;
  height: 360px;
}
